.navbar {
  padding: 0;
  @include media-query($on-palm) {
    padding: 0.5rem 1rem;
  }
}

.tall-nav {
  padding: 1rem 1rem;
}

/* SKPARK */

html {
	height: 100%;
}

body {
  position: relative;
  padding-bottom: 60px;
  min-height: 100%;
}

.container {
  max-width: 960px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.img-circle{
  width: 120px;
  height: 120px;
}

.img-committee {
  float: left;
  margin-right: 20px;
}

.upcoming-event {
  border: 5px solid rgba(0,0,0,0.125);
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: 100;
}
@keyframes blinking {
  50% {
    border-color: #ffcd5f;
  }
}