.navbar {
  padding: 0;
  @include media-query($on-palm) {
    padding: 0.5rem 1rem;
  }
}

.tall-nav {
  padding: 1rem 1rem;
}

/* SKPARK */
.container {
  max-width: 960px;
}

.footer {
  position: absolute;
}

.img-circle{
  width: 120px;
  height: 120px;
}

.img-committee {
  float: left;
  margin-right: 20px;
}