<div class="col-md-4 mb-5">
  <h2>Recent event</h2>
  <hr />
  <address>
    <strong>SIGCHI Korea Winter Event</strong>
    <br />Invited Papers Session from 2023 SIGCHI-sponsored Top Conferences
    <br /><u>Thursday, Jan 25th 2024</u>
    <br />at <a href="https://conference.hcikorea.org/hcik2024/main/main.asp" target="_blank">HCI Korea 2024</a>.
  </address>
  <address>
    <a href="https://2024winter.sigchi.kr/" target="_blank">https://2024winter.sigchi.kr/</a>
    <br />
    📧 contact@sigchi.kr
  </address>
</div>
